/* footer.php*/

#footer_hrstyle
{
	margin-left:-10px;
	 height:10px;
	 width:101.25%;
	 border:0;
	 box-shadow:inset 0 15px 15px -13px #0E2A36;
}
#footer
{
	margin-left:-10px;
	margin-bottom:-10px;
	right:0px;
	width:101.25%;
	bottom:0px;
	height:50px;
	padding-top:10px;
	background-color:#0E2A36;
	margin-bottom:0px;
	color:white;
}
#footer_part
{
	height:50%;
	width:100%;	
}
#footer_content
{
	float:left;
	height:100%;
	width:30%;
	margin-right:10%;
}
#footer_sub_content
{
	float:left;
	height:100%;
	width:10%;	
}
.fanchr:link    /* unvisited link */ 	
{
	color:white;
	text-decoration: none;
	border:0;
	outline:none;
}
.fanchr:visited /* visited link */
{
	border:0;
	outline:none;
	color:white;
	text-decoration: none;
}
.fanchr:hover /* mouse over link */
{
	color:#00A9FF;
	text-decoration:;
	border:0;
	outline:none;
}
.fanchr:active /* selected link */
{
	color:white;
	text-decoration: none;
	border:0;
	outline:none;
}


